<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamda.web.mappers.MovieMapper">
    <insert id="insertMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        insert seq,movie_name movieName, rank_date into movie
        values (#{seq},#{movieName},#{rankDate})
    </insert>

    <update id="updateMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        update set movie_name = #{movieName} from movie
        where movie_no like #{movieNo}
    </update>

    <delete id="deleteMovie"
            parameterType="com.lamda.web.movie.MovieDTO">
        delete from movie where movie_no like #{movieNo}
    </delete>
    <select id="selectMovies" resultType="com.lamda.web.movie.MovieDTO"
                                parameterType="com.lamda.web.proxy.Pager">
       select movie_no movieNo, seq,movie_name movieName, rank_date rankDate
      from movie
             limit #{rowStart}, #{pageSize}

    </select>
    <select id="selectMovie" resultType="com.lamda.web.movie.MovieDTO">
                            parameterType="String"
      select movie_no movieNo, seq,movie_name movieName, rank_date rankDate
      from movie
      where movie_no = #{value}
    </select>
    <select id="count" resultType="int">
      select count(*)
      from movie
    </select>
</mapper>